.container {
    display: flex;
    flex-direction: column;
}
.nav-bar {
    
        display: flex;
        color: #F9FAF8;
        background-color: #1F2937;
        padding: 20px 0px 20px 100px;
        align-items: center;
    
}
.site-navigation{
        display: flex;
        margin-left: auto;
        padding: 0px 100px 0px 0px;  
        
    

}
.site-navigation a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}
.header_logo {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border: red solid 1px;
    margin: 0 0 0 2px;
  }
  .hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.hero-text {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.hero-text p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}
.cuadros {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.cuadro {
    align-content: center;
    border: solid 4px #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
